<div class="flex justify-between items-center">
  <div>
    <h1 class="font-bold text-4xl">Home#index</h1>
    <p>Hello World!</p>
  </div>
  <div>
  <% if current_user %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-error" %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Register", new_user_registration_path, class: "btn btn-secondary" %>
  <% end  %>
  </div>
</div>
